$font__main: 'Sorts Mill Goudy', serif;
$font__heading: 'Montserrat', sans-serif;

$color__blue: #08388c;
$color__orange: #fb763d;
$color__grey: #a2abb0;
$color__white: #ffffff;
$color__block: #000000;

$color__background: #fefefe;

$color__link: $color__blue;
$color__link-hover: lighten($color__blue, 15%);